.cont1{
    background-color: #e4f9f5;
    padding: 20px;
}
img{
    background-color: #e4f9f5;
    color: #e4f9f5;
}
h1{
    font-family:cursive;
    color:#1DB9C3;
    text-align: center;
}
p{
    font-family:cursive;
    color:#1DB9C3;
    text-align: center;
}
